div.wgnb {
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
div.wgnb div.center {
  width: 723px;
  margin: 0 auto;
  transform: translateX(-13px);
}
div.wgnb div.center div.wsub {
  width: 114px;
  padding: 20px 0;
}
div.wgnb div.center div.wsub:not(:last-child) {
  border-right: 1px solid #bbb;
}
div.wgnb div.center div.wsub:nth-child(3) {
  width: 146px;
}
div.wgnb div.center div.wsub h2 {
  
}
div.wgnb div.center div.wsub ul {
}
div.wgnb div.center div.wsub ul li {
  
}
div.wgnb div.center div.wsub ul li a {
  color: #bbb;
  line-height: 2;
  display: block;
  font-size: 15px;
}